body {
  color: black;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.App .container {
  background-color: #e1eef2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 700px;
  height: 777px;
  margin: 60px auto;
  padding: 30px;
  padding-top: 0px;
  border-radius: 10px;
  box-shadow: 20px 30px 50px rgba(65, 50, 100, 0.08);
}
