.WeatherTemp .temperature {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
}

.WeatherTemp .unit {
  padding-left: 5px;
  font-size: 24px;
  font-weight: bold;
}

.WeatherTemp a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  background-color: #132676;
  border-radius: 12px;
  padding: 6px;
}
