.Weather {
  padding: 16px;
}

.Weather .btn-primary {
  background-color: #f8f7f9 !important;
  color: #14267c;
}

.Weather h1 {
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  margin-top: 15px;
}

.Weather form {
  margin: 30px 30px 0 30px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
}

.Weather .day-info {
  text-align: center;
}
